/* 恥ずかしいから見ないで */

body {
	/* 60 文字分 */
	max-width: 60em;

	/* 上、左右、下 */
	margin: 5em auto 1em;

	background-color: #eee;
}

div.footer {
	position: absolute;
	left: 0px;
	right: 0px;
	text-align: right;
	padding-top: 1em;
	padding-bottom: 1em;
}

div.main {
	background-color: #fafafa;
	padding: 1em;
}

div.header {
	background-color: rgba(48, 40, 51, 0.9);
	color: azure;

	/* 画面上部に固定 */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

div.center {
	text-align: center;
}

a.header_link {
	color: azure;
	padding: 0.5em;
}

img.logo {
	/* 続く文字を垂直方向の中央に */
	vertical-align: middle;

	height: 3em;
	margin: 0.5em;
}

.round {
	border-radius: 1em;
}

table {
	border-collapse: collapse;
}

th, td {
	text-align: left;
	padding: 0.5em;
}

th {
	min-width: 6em;
}

h2 {
	border-bottom: gray dashed 2px;
	background-color: cornsilk;
}

h3 {
	border-bottom: gray dotted 2px;
	background-color: antiquewhite;
}

ul.parallel {
	column-count: 2;
}
